{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    <!-- {{post}} -->
    <h1>TemplateTag Test</h1>
    {% totalPost as tp %}
    {% posts as Posts %}
    <p>test: {{tp}} </p>
    <!-- {% for post in Posts %} -->
    <!-- <p>{{post.content|snippets}}</p> -->
    <!-- <p>{{post.content|snippets:50}}</p> -->
    <!-- <p>{{post.title}}</p> -->
    <!-- {% endfor %} -->
    {% popularPosts %}
</body>

</html>